html {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background: none;
}
.container {
    text-align: center;
    margin: 150px;
    width: 500px;
}
input {
    margin: 20px 0;
}
#weather {
    margin-top: 15px;
}